body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFC1D6;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

section {
  padding: 50px;
  text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.education,
.skills {
    width: 48%;
}

.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills li {
    margin-bottom: 10px;
}

.skills li strong {
   display: inline-block;
   width: 80px;
}

#home {
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.about-content {
  animation: fadeIn 1s ease-in-out;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;

}

.icons a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    vertical-align: middle;
}


.icons a:hover {
    transform: scale(1.2);
}

#about {
  background-color: #FFC1D6;
  color: white;
}

#contact {
  background-color: white;
}

.hidden {
  display: none;
}

#home h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #333;
    animation: typing 2s steps(40) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
  50% {
      border-color: #333;
    }
}

  .about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .box:hover {
    transform: translateY(-5px);
  }

  .box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }

  .box p {
    font-size: 16px;
    color: #777;
  }

  .box ul {
    list-style: none;
    padding-left: 0;
  }

  .box li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
  }

  .box li strong {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    color: #333;
  }
