body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFC1D6;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

section {
  padding: 50px;
  text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

  .education, .skills {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .education h3, .skills h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }

  .education p, .skills p {
    font-size: 16px;
    color: #666;
  }

.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills li {
    margin-bottom: 10px;
}

.skills li strong {
   display: inline-block;
   width: 80px;
}

#home {
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

.about-content {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;

}

.icons a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    vertical-align: middle;
}


.icons a:hover {
    transform: scale(1.2);
}

#about {
  background-color: #FFE6EE;
  color: white;
}

#contact {
  background-color: white;
}

   #home h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #333;
    animation: typing 4s steps(40) 1 normal;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #333;
    }
  }

  #home h1::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: #333;
    position: absolute;
    right: -2px;
    animation: blink-caret 0.5s step-end infinite;
  }

.about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 15px);
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: translateY(-5px);
}

.box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.box p {
    font-size: 16px;
    color: #777;
}

.box ul {
    list-style: none;
    padding-left: 0;
}

.box li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}

.box li strong {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    color: #333;
}

h2 {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px;
    color: #333;
  }

  h2:before, h2:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 50%;
    height: 2px;
    background-color: #333;
  }

  h2:before {
    left: 0;
  }

  h2:after {
    right: 0;
  }

  #about h2 span {
    background-color: transparent;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
  }

  #contact h2 span {
    background-color: transparent;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
  }

  h2 span:before, h2 span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  h2 span:after {
    transform-origin: right;
  }

  h2:hover span:before, h2:hover span:after {
    transform: scaleX(1);
  }
